DB_ROOT_PASSWORD=epilogpass655677
DB_USER=epilog_user
DB_PASSWORD=epilogpass0402
JWT_SECRET=R22lWzbnyJCRzeBpWV8Yb0KAfjtxH3+WIwvZ5Y+RS2OqjVjfhTJriO0npa76wwN2
TMDB_API_KEY=aed34c76739dc0fd9e61dc5059998ac8
NEXT_PUBLIC_API_URL=http://localhost:4000/api
